@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Roboto Font */
* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;
}

/* Colors */
:root {
    --white: #fff;
    --black: #222;
    --grey: #858585;
    --green: #40be27;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 68px;
}
body {
    overflow-x: hidden;
}

/* Heading */
.heading {
    margin: 15px 0;
}
.heading h2 {
    color: var(--black);
    font-size: 2.1em;
}
.heading p {
    color: var(--grey);
    font-size: 1.1em;
}


/* Hero section */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
.hero-section .wave {
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 600px;
}
/* Navbar */
.navbar {
    transition: .3s ease-in-out;
}
.navbar-toggler {
    color: #292929 !important;
    border: none !important;
    outline: none !important;
    background: var(--white);
}
.navbar a {
    color: var(--white);
    transition: .3s;
}
.navbar-sticky {
    background: #292929;
    padding: 8px !important;
}
.navbar a:hover,
.navbar a:focus,
.nav-link.active {
    color: var(--green) !important;
}
.navbar-brand {
    font-size: 2em !important;
    font-weight: bold;
}
.nav ul li a {
    font-size: 1.1em;
}
.nav .dropdown-menu {
    background: none;
    border: none;
}
.nav .dropdown-menu .dropdown-item:hover {
    background: none !important;
}

/* Content */
.content {
    margin-top: 14%;
}
.content h2 {
    font-weight: 500;
}
.content-span {
    color: var(--green);
}
.content p {
    color: var(--grey);
    width: 60%;
    text-align: justify;
    font-size: 1.1em;
}
.content .btn {
    background: var(--green);
    width: 140px;
    padding: 10px 0;
    transition: .3s;
    font-weight: 500;
    border: 1px solid var(--green);
}
.content .btn:nth-child(2) {
    border: 1px solid var(--green);
    background: none;
}
.content .btn:nth-child(2):hover {
    background: var(--green);
}


/* About */
.about-section {
    padding: 3% 0;
    margin-top: 8%;
}
.about-text h2 {
    color: var(--black);
    font-size: 2em;
}
.about-text h2 span {
    color: var(--green);
}
.about-text p {
    color: var(--grey);
}
.about-section .btn {
    margin-top: 10px;
    background: var(--black);
    color: var(--white);
}

/* Pricing */
.pricing-section {
    background: var(--black);
}
.pricing-section .heading h2 {
    color: var(--white);
}
.pricing-section .card {
    border: none;
}
.pricing-section .card-price {
    color: var(--green);
    font-size: 1.2em;
    font-weight: 500;
}
.pricing-section .card img {
    height: 280px;
    object-fit: cover;
}


/* Benefits section */
.benefits-section {
    padding: 4% 0 7% 0;
}
.benefits-section .card {
    padding: 3% 0;
    box-shadow: 0 0 12px 3px #0000000a;
}
.benefits-section .card .circle {
    background: var(--green);
    width: max-content;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
}


/* Contact section */
.contact-section .heading h2 {
    color: var(--white);
}
.contact-section input:focus,
.contact-section textarea:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.contact-section input,
.contact-section textarea {
    width: 40%;
}
.contact-section textarea {
    height: 320px !important;
    resize: none;
}
.contact-section label {
    color: var(--grey);
}
.contact-section .btn {
    background: var(--green);
    width: 40%;
    color: var(--white);
    height: 56px;
}

/* Footer */
.footer h1 {
    font-weight: 600;
    font-size: 3rem;
}
.footer p {
    color: var(--grey);
    margin: 1px !important;
}
footer p:last-child {
    margin: 30px 0 0 0 !important;
    font-weight: 500;
}



/* Responsivness */
@media screen and (max-width: 768px) {
    /* Heading */
    .heading {
        text-align: center;
    }
    .heading h2 {
        font-size: 2em;
    }
    .heading p {
        font-size: 1em;
    }

    /* Hero section */
    .hero-section .wave {
        height: 300px;
        bottom: 0%;
    }
    .about-section {
        margin-top: 0;
    }
    /* Navbar */
    .nav {
        justify-content: center !important;
        background: var(--white);
        padding: 15px 0;
        border-radius: 6px;
    }
    .nav a {
        color: var(--black);
    }

    /* Content */
    .content {
        margin-top: 40%;
        text-align: center;
    }
    .content p {
        width: 100%;
        font-size: 1em;
        text-align: center;
    }
    .content .buttons {
        justify-content: center;
    }

    /* About section */
    .about-text p {
        text-align: justify;
    }

    /* Benefits section */
    .benefits-section .card {
        width: 16rem !important;
    }
    .benefits-section .card i {
        padding: 15px;
        font-size: 1.5rem !important;
    }
    .benefits-section .card .circle {
        width: 56px;
        height: 56px;

    }
    .benefits-section .card h3 {
        font-size: 1.4rem;
    }
    .benefits-section .card p {
        font-size: 0.9rem;
    }

    /* Contact section */
    .contact-section input,
    .contact-section textarea,
    .contact-section .btn {
        width: 100%;
    }
}